.application-download {
  position: relative;
  z-index: 100;
  width: 100%;
  padding-top: 395px;
  background-color: #1d2631;

  &::before {
    content: "";
    position: absolute;
    top: -67px;
    left: 0;
    width: 100%;
    height: 462px;
    background-image: url("../img/application-download__bg-mobile.jpg");
    overflow: hidden;
    background-position: center;
    background-position-y: 0;
  }
}

.application-download__wrapper {
  position: relative;
  display: flex;
  width: 320px;
  margin: 0 auto;
  padding-top: 26px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-align: center;
}

.application-download__hand {
  position: absolute;
  top: -286px;
  left: 0;
  width: 280px;
  height: 286px;
}

.application-download__hand img {
  display: block;
  width: 100%;
  height: 100%;
}

.application-download__slogan {
  display: none;
}

.application-download__button {
  display: inline-block;
  width: 280px;
  margin-bottom: 31px;
  padding-top: 17px;
  padding-bottom: 17px;
  color: #ffffff;
  font-size: $main-font-size;
  font-weight: 700;
  line-height: 18px;
  border: 2px solid #ffffff;
  border-radius: 28px;

  &:hover {
    color: $color-pink;
    background-color: #ffffff;
  }

  &:active {
    color: rgba($color-pink, $alpha: 0.3);
  }
}

.application-download__text {
  margin: 0;
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-left: 5px;
  color: #ffffff;
  font-weight: 300;
  line-height: 24px;
}

.application-download__list {
  width: 210px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .application-download {
    min-height: 620px;
    padding-top: 0;

    &::before {
      top: -110px;
      height: 729px;
      background-image: url("../img/bg-tablet.jpg");
    }
  }

  .application-download__wrapper {
    position: relative;
    z-index: 100;
    flex-direction: row;
    width: 660px;
  }

  .application-download__container {
    z-index: 100;
    width: 300px;
    padding-top: 65px;
    padding-bottom: 80px;
  }

  .application-download__hand {
    top: 75px;
    left: 167px;
    z-index: 50;
    width: 470px;
    height: 545px;
  }

  .application-download__slogan {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 31px;
    color: #ffffff;
    font-size: $headline-tablet;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
  }

  .application-download__button {
    display: inline-block;
    width: 296px;
    margin-bottom: 46px;
    padding: 16px 28px;
  }

  .application-download__list {
    margin-bottom: 15px;
  }

  .application-download__text {
    padding-right: 0;
    padding-left: 0;
    font-size: $main-font-size;
  }
}

@media (min-width: $desktop-width) {
  .application-download {
    min-height: 743px;
    background-color: #1c232b;

    &::before {
      height: 853px;
      background-image: url("/img/bg-desktop.jpg");
    }
  }

  .application-download__wrapper {
    width: 1200px;
    padding-left: 125px;
  }

  .application-download__container {
    width: 310px;
    padding-top: 83px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .application-download__hand {
    top: 98px;
    left: 476px;
    width: 555px;
    height: 645px;
  }

  .application-download__slogan {
    width: auto;
    margin-bottom: 51px;
    font-size: $headline-desktop;
    line-height: 60px;
  }

  .application-download__button {
    margin-bottom: 70px;
    padding-right: 23px;
    padding-left: 23px;
    font-size: 21px;
    line-height: 18px;
  }

  .application-download__list {
    margin-bottom: 30px;
  }
}
