.application-download {
  position: relative;
  z-index: 100;
  width: 100%;
  padding-top: 400px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #1d2631;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 160px);
    width: 320px;
    height: 400px;
    background-image: url("../img/application-download__bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 320px 400px;
    background-position-y: -56px;
  }
}

.application-download__wrapper {
  text-align: center;
}

.application-download__slogan {
  display: none;
}

.application-download__button {
  display: inline-block;
  width: 280px;
  margin-bottom: 42px;
  padding-top: 17px;
  padding-bottom: 17px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  border: 2px solid #ffffff;
  border-radius: 28px;
}

.application-download__list {
  padding-right: 56px;
  padding-left: 57px;
}

.application-download__text {
  margin: 0;
  padding-top: 27px;
  padding-right: 5px;
  padding-bottom: 30px;
  padding-left: 5px;
  color: #ffffff;
  font-weight: 300;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .application-download {
    min-height: 620px;
    padding-top: 0;
    background-image: url("/img/application-download__bg-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;

    &::before {
      display: none;
    }
  }

  .application-download__wrapper {
    display: flex;
    justify-content: flex-start;
    width: 620px;
    margin: 0 auto;
  }

  .application-download__container {
    width: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .application-download__slogan {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.15;
    text-align: center;
  }

  .application-download__button {
    display: inline-block;
    margin-bottom: 40px;
    padding: 14px 30px;
  }
}

@media (min-width: $desktop-width) {
  .application-download {
    width: 960px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
