.application-features__wrapper {
  position: relative;
  padding: 20px;
  background-color: $light-gray;
  overflow: hidden;

  &--slogan {
    background-color: #ffffff;
  }

  &--list {
    padding-top: 78px;

    &::before {
      content: "";
      position: absolute;
      top: -159px;
      left: -50px;
      transform: rotate(-6deg);
      width: 120vw;
      height: 200px;
      background-color: #ffffff;
    }
  }
}

.application-features__slogan {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  min-height: 175px;
  padding-top: 22px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: $middle-font-size;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}

.application-features__slogan-question {
  margin-bottom: 30px;
}

.application-features__list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.application-features__item {
  position: relative;
  margin-bottom: 9px;
  padding: 5px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
  }

  &--new-friends {
    padding-bottom: 277px;

    &::before {
      bottom: -33px;
      left: calc(50% - 78px);
      width: 160px;
      height: 281px;
      background-image: url("/pink/img/application-features__list-bg-mobile.png");
      background-repeat: no-repeat;
    }
  }
}

.application-features__item-text {
  margin-top: 11px;
  margin-bottom: 11px;
}

.application-features__item-headline {
  font-size: $main-font-size;
  font-weight: 700;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .application-features {
    min-width: 660px;
    margin: 0 auto;
  }

  .application-features__wrapper {
    &--slogan {
      padding-top: 33px;
    }

    &--list {
      padding-bottom: 0;
    }
  }

  .application-features__slogan {
    font-size: $headline-tablet;
  }

  .application-features__slogan-question {
    margin-bottom: 12px;
  }

  .application-features__slogan-answer {
    padding-left: 6px;
    line-height: 1.15;
  }

  .application-features__list {
    width: 620px;
    min-height: 417px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 310px;
  }

  .application-features__item {
    margin-bottom: 22px;
    padding: 0;
    text-align: left;

    &--new-friends {
      &::before {
        bottom: -35px;
        left: -310px;
        width: 267px;
        height: 486px;
        background-image: url("/pink/img/application-features__list-bg-tablet.png");
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .application-features {
    min-width: 1200px;
  }

  .application-features__wrapper {
    &--list {
      padding-top: 0;
    }
  }

  .application-features__slogan {
    display: block;
    width: 760px;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 55px;
    font-size: $headline-desktop;
    line-height: 60px;
  }

  .application-features__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
    padding: 0;
    padding-left: 20px;

    &::before {
      display: none;
    }
  }

  .application-features__item {
    width: 275px;
    margin-right: 46px;
    padding-top: 355px;
    text-align: center;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &::before {
      top: 0;
      left: -8px;
      width: 294px;
      height: 301px;
    }

    &--mood {
      &::before {
        background-image: url("/pink/img/application-features__list-bg-mood-desktop.png");
      }
    }

    &--world {
      &::before {
        background-image: url("/pink/img/application-features__list-bg-world-desktop.png");
      }
    }

    &--new-friends {
      &::before {
        background-image: url("/pink/img/application-features__list-bg-friends-desktop.png");
      }
    }
  }

  .application-features__item-headline {
    font-size: 30px;
    line-height: 30px;
  }

  .application-features__item-text {
    margin: 0;
    padding: 0 15px;
    padding-top: 19px;
    font-size: $main-font-size;
    line-height: 30px;
  }
}
