.application-features__wrapper {
  position: relative;
  padding: 20px;
  background-color: #f2f2f2;
  overflow: hidden;

  &--slogan {
    background-color: #ffffff;

    &::after {
      content: "";
      position: absolute;
      bottom: -160px;
      left: 0;
      transform: rotate(-5deg);
      width: 120vw;
      height: 200px;
      background-color: #f2f2f2;

    }
  }
}

.application-features__slogan {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 30px;
  padding-left: 5px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.application-features__slogan-question {
  margin-bottom: 20px;
}

.application-features__list {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
}

.application-features__item {
  padding: 5px;
  text-align: center;

  &--new-friends {
    padding-bottom: 257px;

    &::before {
      content: "";
      position: absolute;
      bottom: -33px;
      left: calc(50% - 80px);
      width: 160px;
      height: 270px;
      background-image: url("/img/application-features__list-bg-mobile.png");
      background-repeat: no-repeat;
    }
  }
}

.application-features__item-headline {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .application-features {
    width: 660px;
    margin: 0 auto;
  }

  .application-features__slogan {
    font-size: 40px;
  }

  .application-features__list {
    width: calc(50% + 310px);
    min-height: 484px;
    padding-top: 80px;
    padding-bottom: 0;
    padding-left: 310px;

    &::before {
      left: 0;
      width: 268px;
      height: 484px;
      background-image: url("/img/application-features__list-bg-tablet.png");
    }
  }

  .application-features__item {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .application-features {
    width: 960px;
  }

  .application-features__slogan {
    display: inline-block;
    width: 760px;
    font-size: 50px;
    line-height: 1.15;
  }

  .application-features__list {
    flex-direction: row;
    width: 960px;
    padding: 0;
    padding-top: 365px;

    &::before {
      display: none;
    }
  }

  .application-features__item {
    width: 275px;
    margin-right: 58px;
    text-align: center;
  }

  .application-features__item-headline {
    font-size: 30px;
    line-height: 30px;
  }

  .application-features__item-text {
    font-size: 18px;
    line-height: 30px;
  }
}
