.checkbox {
  position: relative;
  display: block;
  padding-left: 68px;
  font-size: $main-font-size;
  line-height: 30px;
}

.checkbox__item {
  position: absolute;
  width: 37px;
  height: 37px;
  margin-top: -0.2em;
  margin-left: -68px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em #e5e5e5;

  &:hover {
    box-shadow: 0 0 0 0.1em $blue;
  }

  &:active {
    box-shadow: 0 0 0 0.1em $color-pink;
  }
}

.checkbox:hover > .checkbox__item {
  box-shadow: 0 0 0 0.1em $blue;
}

.checkbox:active > .checkbox__item {
  box-shadow: 0 0 0 0.1em $color-pink;
}

.checkbox__input:focus + .checkbox__item {
  box-shadow: 0 0 0 0.1em $color-pink;
}

.checkbox__input:checked + .checkbox__item {
  background-image: url("/pink/img/checkbox-tick.png");
}

@media (min-width: $tablet-width) {
  .checkbox {
    padding-left: 58px;
  }

  .checkbox__item {
    margin-left: -58px;
  }
}
