.contacts__wrapper {
  padding-top: 43px;
  padding-right: 30px;
  padding-bottom: 18px;
  padding-left: 30px;
}

.contacts__text {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 34px;
  padding-left: 0;
  list-style: none;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
  text-align: center;
}

.contacts__type {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
}

.contacts__value {
  position: relative;
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;

  &--email {
    cursor: pointer;

    &:hover {
      color: #283645;

      &::before {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #283645;
        box-shadow: 0 -1px 0 0 rgba(215, 217, 218, 1),
          0 1px 0 0 rgba(116, 122, 130, 1);
      }
    }

    &:active {
      opacity: 0.3;

      &::before {
        display: none;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 660px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .contacts__text {
    width: 375px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 1.15;
  }

  .contacts__list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contacts__item {
    &--call,
    &--write {
      width: 50%;
    }

    &--address {
      width: 230px;
      margin-top: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 960px;
  }

  .contacts__text {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 45px;
    font-size: 50px;
  }

  .contacts__item {
    width: 33%;

    &--call {
      order: 1;
    }

    &--address {
      order: 2;
      margin-top: 0;
    }

    &--write {
      order: 3;
    }
  }

  .contacts__type {
    margin-bottom: 20px;
  }
}
