.contacts__wrapper {
  padding-right: 30px;
  padding-left: 30px;
}

.contacts__text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contacts__type {
  font-size: 18px;
  font-weight: 700;
}

.contacts__value {
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 660px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .contacts__text {
    width: 375px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 1.15;
  }

  .contacts__list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contacts__item {
    &--call,
    &--write {
      width: 50%;
    }

    &--address {
      width: 230px;
      margin-top: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 960px;
  }

  .contacts__text {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 45px;
    font-size: 50px;
  }

  .contacts__item {
    width: 33%;

    &--call {
      order: 1;
    }

    &--address {
      order: 2;
      margin-top: 0;
    }

    &--write {
      order: 3;
    }
  }

  .contacts__type {
    margin-bottom: 20px;
  }
}
