//// только мейн без мобила
.copyright {
  display: flex;
  padding-top: 20px;
}

.copyright__text {
  padding-top: 5px;
  padding-right: 14px;
  font-weight: 400;
}

.copyright__logo {
  color: $color-pink;
  cursor: pointer;

  &:hover {
    color: #283645;
  }

  &:active {
    opacity: 0.3;
  }
}
