.copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  padding-top: 5px;
  padding-right: 14px;
  font-weight: 400;
}

.copyright__logo {
  color: $color-pink;
  cursor: pointer;

  &:hover {
    color: #283645;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    font-size: 18px;
    line-height: 18px;
  }
}
