.form__container-headline {
  position: relative;
  min-height: 170px;
  padding-top: 31px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  background-color: #1d2631;

  &::before {
    content: "";
    position: absolute;
    top: -67px;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 236px;
    background-image: url("../img/bg-mobile.jpg");
    overflow: hidden;
    background-position: center;
    background-position-y: 0;
  }
}

.form__headline {
  position: relative;
  z-index: 100;
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}

.form__description {
  position: relative;
  z-index: 150;
  width: 320px;
  margin: 0 auto;
  padding-top: 45px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  line-height: 30px;
  text-align: center;
  background-color: #ffffff;
}

.form__description-please {
  display: none;
}

.form__about-travel {
  display: flex;
  flex-direction: column;
}

.form__container {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 24px 20px;

  &--bg {
    background-color: #f2f2f2;
  }

  &--full-name {
    background-color: #ffffff;
  }

  &--description-of-emotions,
  &--button {
    display: flex;
    flex-direction: column;
  }

  &--achievements,
  &--specify-os {
    padding-bottom: 47px;
  }

  &--contacts {
    padding-top: 32px;
  }

  &--button {
    padding-bottom: 17px;
  }
}

.form__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;

  &--achievements-option {
    margin-bottom: 52px;
  }

  &--specify-os-option {
    margin-bottom: 44px;
  }

  &--achievements-option:last-child,
  &--specify-os-option:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
  color: #d22856;
  line-height: 30px;
  text-transform: uppercase;

  &--achievements,
  &--specify-os {
    padding: 0 20px;
    padding-top: 15px;
    padding-bottom: 30px;
    line-height: 18px;
    text-align: center;
  }

  &--achievements {
    margin-bottom: 13px;
  }

  &--specify-os {
    margin-bottom: 10px;
  }

  &--description-of-emotions {
    padding: 8px;
    text-align: center;
  }

  &--contacts {
    display: none;
  }
}

.form__button-submit {
  padding: 17px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  background-color: #2aab6d;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.form__small-text {
  display: block;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.form__small-text sup {
  color: #d22856;
}

.form__input {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .form__about-travel {
    padding-right: 20px;
    padding-left: 20px;
  }

  .form__container {
    width: 620px;
    margin-top: 10px;
    padding-top: 45px;
    padding-right: 45px;
    padding-bottom: 56px;
    padding-left: 45px;
    border: 2px solid #e5e5e5;

    &--full-name {
      order: 1;
      padding-right: 0;
      padding-left: 0;
      border: none;
    }

    &--specify-os {
      order: 2;
      margin-bottom: 57px;
    }

    &--contacts {
      order: 3;
      margin-bottom: 57px;
      padding-bottom: 14px;
    }

    &--achievements {
      order: 4;
      margin-bottom: 54px;
      padding-bottom: 49px;
    }

    &--description-of-emotions {
      order: 5;
      padding-right: 57px;
      padding-bottom: 51px;
      padding-left: 57px;
    }

    &--button {
      flex-direction: row;
      order: 6;
      padding-top: 56px;
      padding-right: 0;
      padding-bottom: 50px;
      padding-left: 0;
      border: none;
    }

    &--bg {
      background-color: #ffffff;
    }
  }

  .form__container-headline {
    min-height: 329px;
    padding-top: 72px;

    &::before {
      top: -110px;
      height: 438px;
      background-image: url("../img/bg-tablet.jpg");
    }
  }

  .form__headline {
    font-size: 50px;
    line-height: 58px;
  }

  .form__description {
    width: 550px;
    padding-top: 90px;
    padding-bottom: 17px;
    font-size: 18px;
    line-height: 30px;
  }

  .form__description-please {
    display: block;
  }

  .form__list {
    padding-left: 15px;

    &--full-name {
      padding-left: 0;
    }
  }

  .form__item {
    flex-direction: row;
    width: 100%;
    margin-bottom: 53px;

    &--phone-number,
    &--email {
      flex-direction: column;
    }

    &--phone-number {
      margin-bottom: 22px;
    }

    &--specify-os-option {
      margin-bottom: 45px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__label {
    padding: 5px;
    background-color: #ffffff;

    &--full-name {
      padding-top: 17px;
      padding-right: 18px;
      padding-left: 0;
    }

    &--specify-os {
      width: 370px;
      margin: 0 auto;
      margin-top: -60px;
      margin-bottom: 45px;
    }

    &--contacts {
      display: block;
      width: 262px;
      margin: 0 auto;
      margin-top: -66px;
      margin-bottom: 26px;
      text-align: center;
    }

    &--contacts-list {
      order: 2;
      padding-top: 10px;
      padding-left: 17px;
    }

    &--achievements {
      width: 437px;
      margin: 0 auto;
      margin-top: -62px;
      margin-bottom: 44px;
    }

    &--description-of-emotions {
      width: 261px;
      margin: 0 auto;
      margin-top: -65px;
      margin-bottom: 26px;
    }
  }

  .form__input-contacts {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      width: 60px;
      height: 58px;
      background-color: #e5e5e5;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--phone {
      &::before {
        background-image: url("/img/input-phone.svg");
      }
    }

    &--email {
      &::before {
        background-image: url("/img/input-mail.svg");
      }
    }
  }

  .form__button-submit {
    width: 300px;
  }

  .form__small-text {
    margin-left: auto;
    padding-top: 20px;
    padding-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__about-travel {
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .form__container-headline {
    min-height: 284px;
    padding-top: 65px;

    &::before {
      height: 395px;
      background-image: url("/img/bg-desktop.jpg");
    }
  }

  .form__container {
    &--full-name {
      order: 1;
      width: 504px;
      padding-top: 6px;
      padding-right: 70px;
    }

    &--specify-os {
      order: 2;
      width: 435px;
    }


    &--contacts {
      order: 3;
      padding-bottom: 0;
    }

    &--achievements {
      order: 4;
      padding-bottom: 7px;
    }

    &--description-of-emotions {
      order: 5;
      padding-bottom: 42px;
    }

    &--button {
      flex-direction: row;
      order: 6;
      width: 940px;
      padding-bottom: 0;
    }

    &--full-width {
      width: 960px;
    }
  }

  .form__headline {
    width: 820px;
    margin: 0 auto;
  }

  .form__description {
    width: 830px;
    padding-bottom: 20px;
    font-size: 18px;
  }

  .form__list {
    &--achievements-list,
    &--contacts-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &--specify-os-list {
      padding-left: 30px;
    }
  }

  .form__item {
    &--phone-number,
    &--email {
      width: 376px;
      margin-bottom: 0;
    }

    &--achievements-option {
      width: 276px;
    }

    &--phone-number {
      margin-right: 68px;
    }
  }
}
