.form__container-headline {
  position: relative;
  min-height: 170px;
  padding-top: 35px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  background-color: #1d2631;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 160px);
    width: 320px;
    height: 170px;
    background-image: url("/img/inner-main-bg.jpg");
    background-repeat: no-repeat;
    background-position-y: -67px;
  }
}

.form__headline {
  position: relative;
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.form__description {
  width: 320px;
  margin: 0 auto;
  padding-top: 55px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  line-height: 30px;
  text-align: center;
}

.form__about-travel {
  display: flex;
  flex-direction: column;
}

.form__container {
  width: 320px;
  margin: 0 auto;
  padding: 20px;

  &--bg {
    background-color: #f2f2f2;
  }

  &--description-of-emotions,
  &--button {
    display: flex;
    flex-direction: column;
  }
}

.form__list {
  padding-left: 0;
  list-style: none;
}

.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &--achievements-option,
  &--specify-os-option {
    margin-bottom: 50px;
  }
}

.form__label {
  display: block;
  padding-left: 20px;
  color: #d22856;
  line-height: 30px;
  text-transform: uppercase;

  &--achievements,
  &--specify-os {
    padding: 0 20px;
    padding-bottom: 30px;
    line-height: 18px;
    text-align: center;
  }

  &--description-of-emotions {
    padding: 15px;
    text-align: center;
  }

  &--contacts {
    display: none;
  }
}

.form__button-submit {
  padding: 17px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  background-color: #2aab6d;
}

.form__small-text {
  display: block;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.form__small-text sup {
  color: #d22856;
}

.form__input {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .form__about-travel {
    padding-right: 20px;
    padding-left: 20px;
  }

  .form__container {
    width: 620px;
    margin-top: 10px;
    margin-bottom: 65px;
    padding-top: 45px;
    padding-right: 45px;
    padding-bottom: 50px;
    padding-left: 60px;
    border: 2px solid #e5e5e5;

    &--full-name {
      order: 1;
      padding-right: 0;
      padding-left: 0;
      border: none;
    }

    &--specify-os {
      order: 2;
    }

    &--contacts {
      order: 3;
    }

    &--achievements {
      order: 4;
    }

    &--description-of-emotions {
      order: 5;
    }

    &--button {
      flex-direction: row;
      order: 6;
      padding-right: 0;
      padding-left: 0;
      border: none;
    }

    &--bg {
      background-color: #ffffff;
    }
  }

  .form__container-headline {
    min-height: 334px;
    padding-top: 75px;

    &::before {
      left: calc(50% - 330px);
      width: 660px;
      height: 330px;
      background-image: url("/img/inner-main-bg-tablet.jpg");
    }
  }

  .form__headline {
    font-size: 50px;
    line-height: 1.15;
  }

  .form__description {
    width: 430px;
  }

  .form__item {
    flex-direction: row;
    width: 100%;

    &--phone-number,
    &--email {
      flex-direction: column;
    }
  }

  .form__label {
    padding: 5px;
    background-color: #ffffff;

    &--full-name {
      padding-top: 17px;
      padding-right: 18px;
    }

    &--specify-os {
      width: 370px;
      margin: 0 auto;
      margin-top: -60px;
    }

    &--contacts {
      display: block;
      text-align: center;
    }

    &--contacts-list {
      order: 2;
    }
  }

  .form__input-contacts {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 60px;
      height: 60px;
      background-color: #e5e5e5;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--phone {
      &::before {
        background-image: url("/img/input-phone.svg");
      }
    }

    &--email {
      &::before {
        background-image: url("/img/input-mail.svg");
      }
    }
  }

  .form__button-submit {
    width: 300px;
  }

  .form__small-text {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .form__container-headline {
    min-height: 287px;

    &::before {
      top: -110px;
      left: calc(50% - 600px);
      width: 1200px;
      height: 397px;
      background-image: url("/img/inner-main-bg-desktop.jpg");
    }
  }

  .form__about-travel {
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
  }

  .form__container {
    &--full-name,
    &--specify-os {
      order: 1;
      width: 470px;
    }

    &--full-name {
      padding-right: 70px;
    }

    &--contacts {
      order: 2;
    }

    &--achievements {
      order: 3;
    }

    &--description-of-emotions {
      order: 4;
    }

    &--button {
      flex-direction: row;
      order: 5;
      width: 940px;
    }

    &--full-width {
      width: 960px;
    }
  }

  .form__headline {
    width: 820px;
    margin: 0 auto;
  }

  .form__description {
    width: 830px;
    font-size: 18px;
  }

  .form__list {
    &--achievements-list,
    &--contacts-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .form__item {
    &--phone-number,
    &--email {
      width: 376px;
    }

    &--achievements-option {
      width: 280px;
    }

    &--phone-number {
      margin-right: 70px;
    }
  }
}
