.inner-main {
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.inner-main__headline {
  height: 173px;
  margin: 0;
  padding-top: 30px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  background-color: #2d3a4b;
  background-image: url("/img/inner-main-bc.jpg");
  background-repeat: no-repeat;
  background-position-y: -67px;
}
