.inner-main {
  background-color: #ffffff;
  // background-image: url("/img/inner-main-bc.jpg");
  background-repeat: no-repeat;
}

.inner-main__headline {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
