.input {
  padding: 21px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  outline: none;

  &:hover {
    border-color: $blue;
  }

  &:active,
  &:focus {
    border-color: $color-pink;
  }
}

.input::-moz-placeholder {
  color: $blue;
  font-size: $main-font-size;
  line-height: 30px;
}

.input::-webkit-input-placeholder {
  color: $blue;
  font-size: $main-font-size;
  line-height: 30px;
}

.input:-ms-input-placeholder {
  color: $blue;
  font-size: $main-font-size;
  line-height: 30px;
}

.input::-ms-input-placeholder {
  color: $blue;
  font-size: $main-font-size;
  line-height: 30px;
}

.input::placeholder {
  color: $blue;
  font-size: $main-font-size;
  line-height: 30px;
}
