.main-nav {
  position: relative;
  z-index: 200;
  display: flex;
  flex-wrap: wrap;
  min-height: 260px;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__wrapper {
  width: 100%;
}

.main-nav__toggle {
  position: absolute;
  top: -44px;
  right: 19px;
  display: block;
  width: 21px;
  height: 21px;
  padding: 0;
  border: none;
  background: rgba(40, 54, 69, 0);
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 6px 0 0 #ffffff, 0 12px 0 0 #ffffff;
}

.main-nav--closed {
  min-height: 0;
}

.main-nav--closed > .main-nav__wrapper {
  display: none;
}

.main-nav--opened .main-nav__toggle {
  position: absolute;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    min-height: 100px;
  }

  .main-nav__toggle {
    display: none;
  }
}
