.main-nav {
  position: relative;
  z-index: 200;
  display: flex;
  flex-wrap: wrap;
  min-height: 257px;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__wrapper {
  width: 100%;
}

.main-nav__toggle {
  position: absolute;
  display: block;
  padding: 0;
  border: none;
  background: rgba(40, 54, 69, 0);
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  top: -49px;
  right: 19px;
  width: 50px;
  height: 24px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
    box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
  }
}

.main-nav--closed {
  min-height: 0;
}

.main-nav--closed > .main-nav__wrapper {
  display: none;
}

.main-nav--opened .main-nav__toggle {
  top: -49px;
  right: 19px;
  width: 24px;
  height: 23px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -3px;
    width: 31px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    min-height: 100px;
  }

  .main-nav__toggle {
    display: none;
  }
}
