.page-main-form {
  // background-image: url("/img/page-main-form-bg.jpg");
  background-repeat: no-repeat;
}

.page-main-form__container {
  padding: 0 20px;
  text-align: center;
}

.page-main-form__competition-description {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  background-color: #2b3848;
}
