.page-header__logotype-tablet,
.page-header__logotype-desktop {
  display: none;
}

.page-header__wrapper {
  position: relative;
  z-index: 200;
  background-color: #283645;

  &--closed-menu {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.page-header__logo {
  display: block;
  width: 80px;
  height: 67px;
  margin-right: auto;
  margin-left: 16px;
  padding: 5px;
  color: #ffffff;

  &:hover {
    color: $color-pink;
  }

  &:active {
    color: #ffffff;
    opacity: 0.3;
  }

  .page-header__logotype-mobile {
    margin-top: 17px;
  }
}


@media (min-width: $tablet-width) {
  .page-header {
    background-color: #1d2631;
  }

  .page-header__logo {
    width: 157px;
    height: 110px;
  }

  .page-header__logotype-tablet {
    display: inline-block;
    margin-top: 22px;
  }

  .page-header__logotype-mobile,
  .page-header__logotype-desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__logotype-desktop {
    display: inline-block;
    margin-top: 25px;
  }

  .page-header__logotype-mobile,
  .page-header__logotype-tablet {
    display: none;
  }

  .page-header__wrapper {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-right: 120px;
    padding-left: 120px;
    background-color: transparent;
  }

  .page-header__logo {
    position: relative;
    z-index: 200;
    margin-left: 7px;
    padding: 3px;
  }
}

