.page-header {
  background-color: #283645;
}

.page-header__logo {
  display: block;
  height: 70px;
  margin-right: auto;
  padding-top: 21px;
  padding-right: 44px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .page-header__logo-image {
    width: 147px;
    height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: #1c232b;
  }

  .page-header__wrapper {
    display: flex;
    width: 960px;
    margin: 0 auto;
  }

  .page-header__logo {
    position: relative;
    z-index: 200;
    width: 147px;
    height: 40px;
    padding-top: 43px;
    padding-bottom: 43px;
  }
}

