.research-application {
  display: none;
}

@media (min-width: $tablet-width) {
  .research-application {
    display: flex;
    min-height: 276px;
    margin: 0;
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .research-application__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 620px;
    min-height: 285px;
    margin: 0 auto;
    padding-top: 35px;
    padding-right: 5px;
    padding-left: 310px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 238px;
      height: 276px;
      background-image: url("/img/research-application-watch-tablet.png");
    }
  }

  .research-application__description {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }

  .research-application__text {
    margin-bottom: 10px;
  }

  .research-application__link {
    color: $color-pink;
    text-decoration: underline;
    cursor: pointer;
  }
}

@media (min-width: $desktop-width) {
  .research-application {
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: $light-gray;
  }

  .research-application__container {
    width: 960px;
    margin: 0 auto;
    padding-top: 38px;
    padding-bottom: 10px;
    padding-left: 376px;

    &::before {
      top: -57px;
      left: 11px;
      width: 298px;
      height: 345px;
      background-image: url("../img/research-application-watch-desktop.png");
    }
  }

  .research-application__description {
    margin-bottom: 25px;
    line-height: 30px;
  }

  .research-application__description br {
    display: none;
  }

  .research-application__text {
    margin-bottom: 30px;
    font-size: $main-font-size;
    line-height: 30px;
  }

  .research-application__link {
    font-size: $main-font-size;
    line-height: 30px;
  }
}
