.research-application {
  display: none;
}

@media (min-width: $tablet-width) {
  .research-application {
    position: relative;
    display: flex;
    min-height: 276px;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 100px;
    padding-left: 305px;

    &::before {
      content: "";
      position: absolute;
      left: 20px;
      width: 238px;
      height: 276px;
      background-image: url("/img/research-application-watch-tablet.png");
    }
  }

  .research-application__container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-top: 35px;
  }

  .research-application__description {
    font-size: 30px;
    line-height: 36px;
  }

  .research-application__link {
    color: #d22856;
    text-decoration: underline;
  }
}
