.reviews {
  padding-right: 30px;
  padding-left: 30px;
}

.reviews__headline {
  display: none;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 25px 5px;
  text-align: center;
}

.reviews__item-text {
  order: 2;
  margin: 0;
}

.reviews__item-name-author {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
}

.reviews__item-about-author {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 660px;
    margin: 0 auto;
  }

  .reviews__item-text {
    order: 0;
  }

  .reviews__item-about-author {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 960px;
    margin: 0 auto;
  }

  .reviews__item {
    width: 720px;
    margin: 0 auto;
  }
}
