.reviews {
  padding-right: 20px;
  padding-left: 20px;
}

.reviews__headline {
  display: none;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 42px;
  padding-bottom: 20px;
  text-align: center;
}

.reviews__item-text {
  order: 2;
  margin: 0;
  line-height: 30px;
}

.reviews__item-name-author {
  margin-bottom: 13px;
  font-size: $main-font-size;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
}

.reviews__item-about-author {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 660px;
    margin: 0 auto;
    padding: 20px;
  }

  .reviews__item {
    padding-top: 48px;
  }

  .reviews__item-text {
    order: 0;
    margin-bottom: 35px;
    font-size: $main-font-size;
  }

  .reviews__item-name-author {
    margin: 0;
    color: #000000;
    font-size: 20px;
  }

  .reviews__item-about-author {
    display: block;
    margin: 0;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    display: flex;
    align-items: center;
    width: 960px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
  }

  .reviews__item {
    position: relative;
    width: 720px;
    margin: 0 auto;
    padding-top: 166px;

    &::before {
      content: "";
      position: absolute;
      top: 50px;
      left: calc(50% - 39.5px);
      display: block;
      width: 79px;
      height: 65px;
      background-image: url("/img/reviews__quotes-desktop.svg");
    }
  }

  .reviews__item-name-author {
    font-size: $middle-font-size;
  }

  .reviews__item-about-author {
    font-size: $main-font-size;
  }

  .reviews__button {
    margin-bottom: -50px;
  }
}
