.textarea {
  min-height: 200px;
  padding: 12px 20px;
  border: 2px solid #e5e5e5;
}

.textarea::-moz-placeholder {
  color: $blue;
  font-size: $main-font-size;
  line-height: 30px;
}

.textarea::-webkit-input-placeholder {
  color: $blue;
  font-size: $main-font-size;
  line-height: 30px;
}

.textarea:-ms-input-placeholder {
  color: $blue;
  font-size: $main-font-size;
  line-height: 30px;
}

.textarea::-ms-input-placeholder {
  color: $blue;
  font-size: $main-font-size;
  line-height: 30px;
}

.textarea::placeholder {
  color: $blue;
  font-size: $main-font-size;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .textarea {
    min-height: 192px;
  }
}

@media (min-width: $desktop-width) {
  .textarea {
    min-height: 125px;
  }
}
