.upload-photo__container {
  width: 320px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
}

.upload-photo__wrapper {
  width: 280px;
  margin: 0 auto;
}

.upload-photo__image {
  display: block;
}

.upload-photo__text {
  margin: 0;
  padding: 47px 5px;
  text-align: center;
  background-color: #ffffff;
}

.upload-photo__filter-selection {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-right: 45px;
  padding-bottom: 19px;
  padding-left: 35px;
  list-style: none;
}

.upload-photo__filters {
  display: flex;
  flex-direction: column;
}

.upload-photo__item-filter {
  position: relative;
  display: block;
}

.upload-photo__tool {
  position: relative;
  display: block;
  width: 50px;
  height: 45px;
  cursor: pointer;
}

.upload-photo__icon {
  color: #b5b9be;

  &--crop {
    width: 44px;
    height: 44px;
  }

  &--fill {
    width: 48px;
    height: 43px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }

  &:hover {
    color: #8d949b;
  }

  &:active {
    color: $color-pink;
  }
}

.upload-photo__slider {
  position: relative;
  display: flex;
  justify-content: center;
  height: 14px;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 35px;
  padding-left: 19px;

  &--current-filter {
    display: none;
  }
}

.upload-photo__slider-bar {
  display: block;
  width: 243px;
  height: 2px;
  background-color: #000000;
}

.upload-photo__slider-button {
  position: absolute;
  top: 4px;
  right: 70px;
  width: 14px;
  height: 14px;
  padding: 0;
  border: 2px solid #d22856;
  border-radius: 7px;
  background-color: #ffffff;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-pink;
  }
}

.upload-photo__container-button {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 38px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: #dddfe0;
  }
}

.upload-photo__button {
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #d22856;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  border: 3px solid #d22856;
  border-radius: 27px;
  background: rgba(242, 242, 242, 0);
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    color: #ffffff;
    background-color: $color-pink;
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
  }

  &--cancel {
    color: #e3e4e4;
    border-color: #dddfe0;

    &:hover {
      color: #cdd0d3;
      border-color: #b5b9be;
      background-color: #f2f2f2;
    }

    &:active {
      color: #cdd0d3;
      background-color: #b5b9be;
    }
  }
}

@media (min-width: $tablet-width) {
  .upload-photo__container {
    width: 660px;
  }

  .upload-photo__wrapper {
    display: flex;
    width: 620px;
    margin: 0 auto;
  }

  .upload-photo__text {
    font-size: 18px;
    line-height: 30px;
  }

  .upload-photo__image {
    width: 310px;
    padding-right: 10px;
  }

  .upload-photo__filter-selection {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .upload-photo__item-filter {
    display: flex;
    align-items: center;
    height: 73px;
    border-bottom: 1px solid #dddfe0;
  }

  .upload-photo__tool {
    width: 53px;
    height: 22px;

    &::before {
      background-size: contain;
    }

    &--crop {
      &::before {
        width: 22px;
        height: 22px;
      }
    }

    &--fill {
      &::before {
        width: 24px;
        height: 22px;
      }
    }

    &--contrast {
      height: 16px;

      &::before {
        width: 16px;
        height: 16px;
      }
    }
  }

  .upload-photo__slider {
    width: 202px;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;

    &--mobile {
      display: none;
    }

    &--current-filter {
      display: block;
    }
  }

  .upload-photo__slider-button {
    top: 1px;
  }

  .upload-photo__slider-bar {
    width: 202px;
  }

  .upload-photo__container-button {
    padding-right: 13px;
    padding-left: 2px;

    &::before {
      display: none;
    }
  }

  .upload-photo__container-control {
    width: 310px;
    padding-left: 35px;
  }
}

@media (min-width: $desktop-width) {
  .upload-photo__container {
    width: 960px;
    margin: 0 auto;
  }

  .upload-photo__wrapper {
    width: 940px;
    margin: 0 auto;
    padding-right: 60px;
    padding-left: 80px;
  }

  .upload-photo__image {
    width: 391px;
    padding-right: 90px;
  }

  .upload-photo__text {
    width: 960px;
    margin: 0 auto;
  }

  .upload-photo__filter-selection {
    width: 410px;
  }

  .upload-photo__item-filter {
    width: 410px;
  }

  .upload-photo__tool {
    width: 92px;
    height: 48px;

    &--crop {
      &::before {
        width: 48px;
        height: 48px;
      }
    }

    &--fill {
      &::before {
        width: 48px;
        height: 43px;
      }
    }

    &--contrast {
      &::before {
        width: 32px;
        height: 32px;
      }
    }
  }

  .upload-photo__slider-bar {
    width: 288px;
  }

  .upload-photo__container-control {
    display: flex;
    flex-direction: column;
    width: 410px;
    padding-left: 0;
  }

  .upload-photo__container-button {
    flex-direction: row;
    width: 100%;
    margin-top: auto;
    padding: 0;
  }

  .upload-photo__button {
    display: block;
    width: 184px;
    margin-right: 38px;
    margin-bottom: 0;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}
