.upload-photo__container {
  background-color: #f2f2f2;
}

.upload-photo__wrapper {
  padding: 20px;
}

.upload-photo__image {
  display: block;
}

.upload-photo__text {
  margin: 0;
  padding: 47px 5px;
  text-align: center;
  background-color: #ffffff;
}

.upload-photo__filter-selection {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding-top: 40px;
  padding-right: 45px;
  padding-bottom: 19px;
  padding-left: 35px;
  list-style: none;
}

.upload-photo__filters {
  display: flex;
  flex-direction: column;
}

.upload-photo__item-filter {
  position: relative;
  display: block;
  width: 50px;
  height: 45px;
}

.upload-photo__tool {
  position: relative;
  display: block;
  width: 50px;
  height: 45px;

  &::before {
    content: "";
    position: absolute;
  }

  &--crop {
    &::before {
      width: 44px;
      height: 44px;
      background-image: url("/img/upload-photo-crop.svg");
    }
  }

  &--fill {
    &::before {
      width: 48px;
      height: 43px;
      background-image: url("/img/upload-photo-fill.svg");
    }
  }

  &--contrast {
    &::before {
      width: 32px;
      height: 32px;
      background-image: url("/img/upload-photo-contrast.svg");
    }
  }
}

.upload-photo__slider {
  position: relative;
  display: flex;
  justify-content: center;
  width: 280px;
  height: 14px;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 35px;
  padding-left: 19px;

  &--current-filter {
    display: none;
  }
}

.upload-photo__slider-bar {
  display: block;
  width: 243px;
  height: 2px;
  background-color: #000000;
}

.upload-photo__slider-button {
  position: absolute;
  top: 4px;
  right: 70px;
  width: 14px;
  height: 14px;
  border: 2px solid #d22856;
  border-radius: 7px;
  background: #ffffff;
}

.upload-photo__container-button {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 38px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 100vw;
    height: 1px;
    background-color: #dddfe0;
  }
}

.upload-photo__button {
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #d22856;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  border: 3px solid #d22856;
  border-radius: 27px;
  background: rgba(242, 242, 242, 0);
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &--cancel {
    color: #283645;
    border-color: #283645;
    opacity: 0.1;
  }
}

@media (min-width: $tablet-width) {
  .upload-photo__wrapper {
    display: flex;
    width: 660px;
    margin: 0 auto;
  }

  .upload-photo__text {
    font-size: 18px;
    line-height: 30px;
  }

  .upload-photo__image {
    width: 310px;
    padding-right: 10px;
  }

  .upload-photo__filter-selection {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .upload-photo__item-filter {
    display: flex;
    align-items: center;
    width: 275px;
    height: 73px;
    border-bottom: 1px solid #dddfe0;
  }

  .upload-photo__tool {
    width: 53px;

    &::before {
      background-size: contain;
    }

    &--crop {
      height: 22px;

      &::before {
        width: 22px;
        height: 22px;
      }
    }

    &--fill {
      height: 22px;

      &::before {
        width: 24px;
        height: 22px;
      }
    }

    &--contrast {
      height: 16px;

      &::before {
        width: 16px;
        height: 16px;
      }
    }
  }

  .upload-photo__slider {
    width: 202px;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;

    &--mobile {
      display: none;
    }

    &--current-filter {
      display: block;
    }
  }

  .upload-photo__slider-button {
    top: 1px;
  }

  .upload-photo__slider-bar {
    width: 202px;
  }

  .upload-photo__container-button {
    padding-right: 13px;
    padding-left: 2px;

    &::before {
      display: none;
    }
  }

  .upload-photo__container-control {
    width: 310px;
    padding-left: 35px;
  }
}

@media (min-width: $desktop-width) {
  .upload-photo__container {
    width: 960px;
    margin: 0 auto;
  }

  .upload-photo__wrapper {
    width: 940px;
    margin: 0 auto;
  }

  .upload-photo__image,
  .upload-photo__filters {
    width: 470px;
  }

  .upload-photo__text {
    width: 960px;
    margin: 0 auto;
  }

  .user-photo__container-button {
    flex-direction: row;
  }

  .upload-photo__button {
    display: block;
    width: 184px;
    margin-right: 38px;
    margin-bottom: 0;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}
