.user-photos {
  display: flex;
  flex-direction: column;
}

.user-photos__text {
  padding-right: 30px;
  padding-left: 30px;
}

.user-photos__photo-of-the-day {
  position: relative;
}

.user-photos__headline-photo-of-the-day {
  position: absolute;
  left: 50%;
  padding: 12px 16px;
  color: #ffffff;
  font-size: 12px;
  background-color: #d22856;
}

.user-photos__photo {
  display: block;
}

.user-photos__photo-of-the-day-img {
  display: block;
  width: 100%;
}

.user-photos__comment {
  width: 280px;
  margin: 0;
  padding: 20px;
  background-color: #f2f2f2;
}

.user-photos__name-time {
  display: flex;
}

.user-photos__comment-author {
  margin-right: 3px;
  font-weight: 700;
  font-style: normal;
}

.user-photos__time {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.user-photos__numbers-of-likes {
  padding-left: 32px;
  color: #d22856;
  font-size: 12px;
  text-transform: uppercase;
}

.user-photos__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;
}

.user-photos__photo-img {
  display: block;
}

@media (min-width: $tablet-width) {
  .user-photos__comment {
    width: 300px;

    &--main {
      width: 620px;
      margin: 0 auto;
    }
  }

  .user-photos__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .user-photos__item {
    width: 300px;
    margin-right: 20px;

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-photos__text {
    width: 960px;
    margin: 0 auto;
  }

  .user-photos__comment {
    &--main {
      width: 940px;
    }
  }

  .user-photos__item {
    &:nth-child(even) {
      margin-right: 20px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .user-photos__list {
    width: 960px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
  }
}
