.user-photos {
  position: relative;
  display: flex;
  flex-direction: column;
}

// .user-photos__bg {
//   position: absolute;
//   top: -67px;
//   z-index: 20;
//   width: 100%;
//   height: 236px;
//   background-image: url("../img/bg-mobile.jpg");
//   overflow: hidden;
//   background-position: center;
//   background-position-y: 0;
// }

.user-photos__headline-container {
  position: relative;
  min-height: 169px;
  padding-top: 29px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #2b3b4b;

  &::before {
    content: "";
    position: absolute;
    top: -67px;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 236px;
    background-image: url("../img/bg-mobile.jpg");
    overflow: hidden;
    background-position: center;
    background-position-y: 0;
  }
}

.user-photos__headline {
  position: relative;
  z-index: 100;
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
}

.user-photos__text {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-top: 46px;
  padding-right: 35px;
  padding-bottom: 48px;
  padding-left: 35px;
  line-height: 30px;
  text-align: center;
}

.user-photos__photo-of-the-day {
  position: relative;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.user-photos__headline-photo-of-the-day {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  padding: 6px 19px;
  color: #ffffff;
  font-size: 12px;
  background-color: #d22856;
}

.user-photos__photo {
  display: block;
  width: 100%;

  &--main {
    width: auto;
    height: auto;
  }
}

.user-photos__photo-of-the-day-img {
  display: block;
  width: 100%;
}

.user-photos__comment {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  padding: 19px 18px;
  background-color: #f2f2f2;

  &--main {
    width: 280px;
    margin: 0 auto;
  }
}

.user-photos__name-time {
  display: flex;
  flex: 0;
}

.user-photos__comment-author {
  margin-right: 3px;
  font-weight: 700;
  font-style: normal;
}

.user-photos__time {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.user-photos__numbers-of-likes {
  position: relative;
  display: flex;
  align-items: baseline;
  color: $color-pink;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.user-photos__numbers-of-likes:hover > .user-photos__like {
  color: $color-pink;
}

.user-photos__like {
  margin-right: 19px;
  color: transparent;

  &:hover {
    color: $color-pink;
  }
}

.user-photos__comment-text {
  flex: 1;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
}


.user-photos__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;
}

.user-photos__item {
  width: 280px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.user-photos__container-item {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-photos__photo-img {
  display: block;
}

@media (min-width: $tablet-width) {
  .user-photos__bg {
    top: -110px;
    height: 438px;
    background-image: url("../img/bg-tablet.jpg");
  }

  .user-photos__headline-container {
    min-height: 327px;
    padding-top: 70px;

    &::before {
      top: -110px;
      width: 100%;
      height: 438px;
      background-image: url("../img/bg-tablet.jpg");
    }
  }

  .user-photos__headline {
    font-size: 50px;
    line-height: 58px;
  }

  .user-photos__text {
    width: 660px;
    padding: 0 47px;
    padding-top: 92px;
    padding-bottom: 77px;
    font-size: 18px;
    line-height: 30px;
  }

  .user-photos__photo-of-the-day {
    width: 660px;
    margin-bottom: 50px;
  }

  .user-photos__photo-of-the-day-img {
    min-height: 509px;
  }

  .user-photos__headline-photo-of-the-day {
    top: 57px;
    right: 20px;
    left: auto;
  }

  .user-photos__comment {
    flex-wrap: wrap;
    width: 100%;
    padding: 23px 27px;

    &--main {
      flex-direction: row;
      width: 620px;
      margin: 0 auto;
      padding-bottom: 15px;
    }
  }

  .user-photos__comment--main > .user-photos__name-time {
    flex: 1;
    order: 1;
  }

  .user-photos__numbers-of-likes {
    flex-direction: row-reverse;
  }

  .user-photos__like {
    margin-right: 0;
    margin-left: auto;
  }

  .user-photos__comment--main > .user-photos__numbers-of-likes {
    order: 2;
    width: 122px;
    padding-top: 2px;
  }

  .user-photos__comment--main > .user-photos__comment-text {
    order: 3;
    flex-basis: 100%;
  }

  .user-photos__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 660px;
    margin: 0 auto;
  }

  .user-photos__item {
    width: 300px;
    min-height: 455px;
    margin-right: 20px;

    &:nth-child(even) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }

  .user-photos__photo {
    height: 300px;
    background-color: tomato;

    &--main {
      width: auto;
      height: auto;
    }
  }

  .user-photos__photo-img {
    width: 100%;
    height: 300px;
  }
}

@media (min-width: $desktop-width) {
  .user-photos__headline-container {
    min-height: 287px;

    &::before {
      top: -110px;
      left: calc(50% - 600px);
      width: 1200px;
      height: 397px;
      background-image: url("/img/inner-main-bg-desktop.jpg");
    }
  }

  .user-photos__photo-of-the-day {
    width: 1200px;
  }

  .user-photos__text {
    width: 715px;
  }

  .user-photos__comment {
    &--main {
      width: 940px;
    }
  }

  .user-photos__item {
    &:nth-child(even) {
      margin-right: 20px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .user-photos__list {
    width: 960px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
  }
}
