.user-photos {
  display: flex;
  flex-direction: column;
}

.user-photos__headline-container {
  position: relative;
  min-height: 175px;
  padding-top: 39px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #1d2631;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 160px);
    width: 320px;
    height: 173px;
    background-image: url("/img/inner-main-bg.jpg");
    background-repeat: no-repeat;
    background-position-y: -67px;
  }
}

.user-photos__headline {
  position: relative;
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.user-photos__text {
  padding-top: 10px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-left: 35px;
  text-align: center;
}

.user-photos__photo-of-the-day {
  position: relative;
  margin-bottom: 20px;
}

.user-photos__headline-photo-of-the-day {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  padding: 6px 19px;
  color: #ffffff;
  font-size: 12px;
  background-color: #d22856;
}

.user-photos__photo {
  display: block;
  width: 100%;

  &--main {
    width: auto;
    height: auto;
  }
}

.user-photos__photo-of-the-day-img {
  display: block;
  width: 100%;
}

.user-photos__comment {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  padding: 20px;
  background-color: #f2f2f2;

  &--main {
    width: 280px;
    margin: 0 auto;
  }
}

.user-photos__name-time {
  display: flex;
  flex: 0;
}

.user-photos__comment-author {
  margin-right: 3px;
  font-weight: 700;
  font-style: normal;
}

.user-photos__time {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.user-photos__numbers-of-likes {
  position: relative;
  padding-left: 32px;
  color: #d22856;
  font-size: 12px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url("/img/user-photos__like.svg");
  }
}

.user-photos__comment-text {
  flex: 1;
  margin: 0;
  padding: 5px 0;
}


.user-photos__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;
}

.user-photos__item {
  width: 280px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.user-photos__container-item {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-photos__photo-img {
  display: block;
}

@media (min-width: $tablet-width) {
  .user-photos__headline-container {
    min-height: 334px;
    padding-top: 80px;

    &::before {
      left: calc(50% - 330px);
      width: 660px;
      height: 330px;
      background-image: url("/img/inner-main-bg-tablet.jpg");
    }
  }

  .user-photos__headline {
    font-size: 50px;
    line-height: 1.15;
  }

  .user-photos__text {
    padding: 85px 47px;
    font-size: 18px;
    line-height: 30px;
  }

  .user-photos__photo-of-the-day-img {
    min-height: 512px;
  }

  .user-photos__headline-photo-of-the-day {
    top: 60px;
    right: 20px;
    left: auto;
  }

  .user-photos__comment {
    flex-wrap: wrap;
    width: 100%;

    &--main {
      flex-direction: row;
      width: 620px;
      margin: 0 auto;
    }
  }

  .user-photos__comment--main > .user-photos__name-time {
    flex: 1;
    order: 1;
  }

  .user-photos__numbers-of-likes {
    padding-right: 32px;
    padding-left: 0;

    &::before {
      right: 0;
      left: auto;
    }
  }

  .user-photos__comment--main > .user-photos__numbers-of-likes {
    order: 2;
    width: 125px;
  }

  .user-photos__comment--main > .user-photos__comment-text {
    order: 3;
    flex-basis: 100%;
  }

  .user-photos__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 660px;
    margin: 0 auto;
  }

  .user-photos__item {
    width: 300px;
    min-height: 455px;
    margin-right: 20px;

    &:nth-child(even) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }

  .user-photos__photo {
    height: 300px;
    background-color: tomato;

    &--main {
      width: auto;
      height: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-photos__headline-container {
    min-height: 287px;

    &::before {
      top: -110px;
      left: calc(50% - 600px);
      width: 1200px;
      height: 397px;
      background-image: url("/img/inner-main-bg-desktop.jpg");
    }
  }

  .user-photos__text {
    width: 715px;
    margin: 0 auto;
  }

  .user-photos__comment {
    &--main {
      width: 940px;
    }
  }

  .user-photos__item {
    &:nth-child(even) {
      margin-right: 20px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .user-photos__list {
    width: 960px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
  }
}
